# Kconfig - Atmel SAM4S MCU series configuration options
#
# Copyright (c) 2017 Microchip Technology Inc
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_PART_NUMBER_ATSAM4SD32C

config SOC
	string
	default atsam4sd32c

#
# SAM4S family has total 35 peripherals capable of
# generating interrupts.
#
config NUM_IRQS
	int
	default 35

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 120000000

endif # SOC_ATSAM4SD32C
