CONFIG_ARM=y
CONFIG_SOC_FAMILY_SAM=y
CONFIG_SOC_SERIES_SAMG=y
CONFIG_SOC_ATSAMG55J19=y
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_USART_SAM=y
CONFIG_USART_SAM_PORT_1=y
CONFIG_BOARD_SAMG55_XPLAINED_PRO=y
CONFIG_SOC_ATMEL_SAM4S_EXT_MAINCK=y
