# Kconfig - Atmel SAM4S Xplained pRO Board configuration
#
# Copyright (c) 2017 Microchip Technology Inc
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_SAM4S_XPLAINED_PRO

config BOARD
	string
	default sam4s_xplained_pro
	
endif # BOARD_SAM4S_XPLAINED_PRO
